html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.display-4 {font-family: cursive;
   font-weight: 900; 
   font-size: 100px; 
   color:white;
}

.lead {font-family: cursive;
  color: white
}

.my-0 {font-family: cursive; color: #db115c; }

.list-unstyled {font-family: cursive;color: #558ed2; }

.letters {font-family: cursive; color: white;}

.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}



.responsive {
max-width: 100%;
height: auto;
}

.flavorcontainer { 
margin: auto;
text-align: center;}



.ml1 {
  font-weight: 900;
  font-size: 3.5em   ;
  text-align: center;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }

.mainheader {font-family: cursive; font-size: 80px; color: white ; text-align: center
}

.btn-secondary {background-color: #558ed2;

  color:#fff;
  
  border-color: #db115c; align-self: center;
  
}