.nav-masthead {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(35, 197, 13, 0.5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.cover-heading {
    text-align: center;
    font-style: italic;
    font-family: cursive;
}

.lead {
    text-align: center;
}

body {
    height: 100%;
}